# Dependencies
node_modules

# Build outputs
dist
build
.vite

# Logs
*.log
npm-debug.log*

# Environment files
.env
.env.*

# IDE
.vscode
.idea

# Package files
package-lock.json
pnpm-lock.yaml
yarn.lock
